<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.qingtingserver.dao.PlayListMusicMapper">
  <resultMap id="BaseResultMap" type="com.example.qingtingserver.model.PlayListMusic">
    <!--@mbg.generated-->
    <!--@Table play_list_music-->
    <id column="id" property="id" />
    <result column="play_list_id" property="playListId" />
    <result column="music_id" property="musicId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, play_list_id, music_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from play_list_music
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from play_list_music
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.qingtingserver.model.PlayListMusic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into play_list_music (play_list_id, music_id)
    values (#{playListId}, #{musicId})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.qingtingserver.model.PlayListMusic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into play_list_music
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="playListId != null">
        play_list_id,
      </if>
      <if test="musicId != null">
        music_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="playListId != null">
        #{playListId},
      </if>
      <if test="musicId != null">
        #{musicId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.qingtingserver.model.PlayListMusic">
    <!--@mbg.generated-->
    update play_list_music
    <set>
      <if test="playListId != null">
        play_list_id = #{playListId},
      </if>
      <if test="musicId != null">
        music_id = #{musicId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.qingtingserver.model.PlayListMusic">
    <!--@mbg.generated-->
    update play_list_music
    set play_list_id = #{playListId},
      music_id = #{musicId}
    where id = #{id}
  </update>
</mapper>