<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.qingtingserver.dao.PlayListMapper">
  <resultMap id="BaseResultMap" type="com.example.qingtingserver.model.PlayList">
    <!--@mbg.generated-->
    <!--@Table play_list-->
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="name" property="name" />
    <result column="likes" property="likes" />
    <result column="play_times" property="playTimes" />
    <result column="url" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, `name`, likes, play_times, url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from play_list
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from play_list
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.qingtingserver.model.PlayList" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into play_list (user_id, `name`, likes, play_times, url)
    values (#{userId}, #{name}, #{likes}, #{playTimes}, #{url})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.qingtingserver.model.PlayList" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into play_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="likes != null">
        likes,
      </if>
      <if test="playTimes != null">
        play_times,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="likes != null">
        #{likes},
      </if>
      <if test="playTimes != null">
        #{playTimes},
      </if>
      <if test="url != null">
        #{url},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.qingtingserver.model.PlayList">
    <!--@mbg.generated-->
    update play_list
    <set>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="likes != null">
        likes = #{likes},
      </if>
      <if test="playTimes != null">
        play_times = #{playTimes},
      </if>
      <if test="url != null">
        url = #{url},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.qingtingserver.model.PlayList">
    <!--@mbg.generated-->
    update play_list
    set user_id = #{userId},
      `name` = #{name},
      likes = #{likes},
      play_times = #{playTimes},
      url = #{url}
    where id = #{id}
  </update>
</mapper>